@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";


.home-page{
    
    .form-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 400px;
        padding: 10px 0 10px 0;
        margin: 5px 0 10px 0;
        h3{
            margin: 0;
        }
        .text-input{
            width: 80%;

        }
        .submit-btn{
            width: 50%;
        }
    }

    @include mixins.for-narrow-layout{

        grid-column: -1/1;
    }
    @include mixins.for-mobile-layout{
        grid-column: -1/1;
    }
    
}

