@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";


.app-header{


    position: sticky;
    top: 0;
    // left: 0;
    border-bottom: 1px solid #e0e0e0; 
    width: 100%;
    z-index: 70;
    background-color: variables.$white;




    .header-elements {
    
        display: flex;
        gap: space-between;
        height: 4rem;
        align-items: center;
        background-color: variables.$white;
        justify-content: space-between;
        .logo{
            display: flex;
            text-decoration: none;
            align-items: center;
            gap:6px;
            svg{
                height: 30px;
                width: 30px;
                align-self: center;
                fill:variables.$black;
                // fill:rgb(63, 147, 242);
            }
            .linky-logo{
                font-family: 'Proximanova', sans-serif; 
                color: variables.$black;
                font-weight: 700;
                font-size: functions.rem(30px);
                letter-spacing:  -.04em;
                margin: 0;
                
                span{
                    padding-left: 2px;
                    color:rgb(63, 147, 242);
                }

            }

        }

        .header-links{
            display: flex;
            gap:20px;
            a{
                size: 16px;
                &:hover{
                    text-decoration: none;
                    cursor: pointer;
                    color:rgb(63, 147, 242);
                }
            }
        }

    }

    



    @include mixins.for-mobile-layout{


    }


    //narrow : with search top option, with menu icon , small nav menu, no img
    @include mixins.for-narrow-layout {


    }

    //normal : with search top option, no menu icon , big nav menu, with img
    @include mixins.for-normal-layout {
        .header-elements{
            justify-items: start;
            
        }

    }
    // wide : with search top option, no menu icon , big nav menu, with img
    @include mixins.for-wide-layout {
        .header-elements{
            justify-items: start;
        }
    }

}