@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables"; 


.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 700px;
    padding: 10px 0 10px 0;
    margin: 3rem 0 3rem 0;
    h2{
        font-weight: 700;
    }
    h3{
        margin: 0;
    }
    .text-input{
        width: 80%;

    }
    .submit-btn{
        width: 50%;
    }

    @include mixins.for-narrow-layout{

    }
    @include mixins.for-mobile-layout{
    }
    
}




